
*:focus {outline:none}

body {

  background:#0fb8ad);
  background: -webkit-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);/* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); /* Standard syntax */
  font-family: 'Orbitron', sans-serif;

 }

button {

  color: rgb(249, 252, 252);
  width: 23%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 2%;
  margin-right: 1%;
  font-size: 1rem;
  border-radius: 5%;
  box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.68), inset -1px -6px 12px 0.1px #393838;
  background-color: rgb(85, 89, 89);
  border-bottom: solid 1px grey;

}

.container {
  width: 330px;
  height:500px;
  margin: 10% auto;
  position: relative;
}

.calc-body {
  color: rgb(36, 40, 38);
  position: absolute;
  top: 10%;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.68), inset -1px -6px 12px 0.1px #77797a;
  background-color: rgb(216, 221, 226);
}

.screen {
  position: absolute;
  right: 5%;
  top: 15%;
  width: 90%;
  height: 20%;
  background-color:rgb(156, 168, 146);
  border-radius: 10px;
  /*border: solid 2px rgb(100, 96, 159);*/
  box-shadow: inset -1px -1px 12px 0.1px #747474;
}

/* DISPLAY */

#display-calculation {
  text-align: right;
  margin-right: 1%;
  margin-top: 4%;
  color: rgb(79, 87, 88);
  font-size: .9rem;
}

#display {
  font-size: 2.5rem;
  margin-bottom: 0;
  margin-top: 6%;
  text-align: right;
}

.buttons-container {
  position: absolute;
  width: 90%;
  left: 5%;
  top: 36%;
}

#three-row {
display: inline;
}

.display-container {
padding-right: 2%;
}

.row {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.equals-row {
  height: 100%;
  display: inline;
}

.zero-row {
  height: 100%;
  display: flex;
  justify-content: flex-start;
}



#zero {
  width: 49%;
  margin-right: 1%;
}

#equals {
  position: absolute;
  height: 38%;
  right: 0%;
  bottom: 0.1%;
}

#decimal {
  margin-left: 1%;
  margin-right: 0;
  display: block;

}

.clicked {
transform: translate(0, -2px);
 }

/*Aborted background animation
@keyframes colour-animation {
  0% {
    background-color: rgb(246, 174, 155);
  }

  25% {
    background-color: rgb(227, 159, 96);
  }

  50% {

    background-color: rgb(251, 136, 105);
  }

  75%{
    background-color: rgb(242, 46, 128);
  }
  100% {
    background-color: rgb(242, 176, 200);
  }
}
*/
